* {
  color: #fff;
}

h1 {
  color: rgb(255, 255, 255);
  text-align: center;
}

body
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(to bottom, black 0%, rgb(39, 34, 34) 100%);
  color: white;
}

.wrapper {
  margin: 100px;
  max-width: 90%;
  background: black;
  border-radius: 25px;
  padding: 30px;

}

h1,
h2,
p {
  color: #adabab;
}

.wrapper .inputfield {
  display: flex;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.mx-auto {
  width: 85%;
}

.d-flex {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.inputfield input {
  width: 85%;
  height: 100%;
  border: 3px solid;
  font-size: 20px;
  border-radius: 3px;
  padding-left: 15px;
}

#todo-row span {
  display: inline-block;
  margin-bottom: 0;
}

.wrapper button
{
  width: 100px;  
}

.trash {
  cursor: pointer;
}

.strikethrough {
  text-decoration: line-through;
}

.unstrike {
  text-decoration: none;
}

span {
  padding: 0 .5rem;
}
